/* style.css */

.tab-btn {
    min-width: 100px;
    padding: 10px;
    background-color: #ee5a24;
    color: #fff;
    font-size: 14px;
    margin: 0 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.form-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.fw-webniar-form {
    max-width: 40%;
    background-color: #fff;
    padding: 25px;
    border-radius: 2px;
    box-shadow: 0 0 40px #e4e4e4;
    margin: auto;
    transition: ease-in 0.4s;
}

.fw-input {
    width: 100%;
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    min-height: 32px;
    padding: 10px;
    outline: none;
    font-size: 14px;
}

.fw-form-group {
    margin-top: 18px;
}

.fw-pri-btn {
    min-width: 140px;
    display: inline-block;
    padding: 10px;
    background-color: #ee5a24;
    color: #fff;
    font-size: 14px;
    margin-top: 25px;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    cursor: pointer;
}

/* Additional styles as needed */
